<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/javascripts/example.js"></script>
	</head>

	<body onload="getStory()">
		<div id='decor'></div>
		<header>
			<a id='logotext' href='/'>tiny<strong>stories</strong></a>
		</header>
		
		<div class='page'>
			<div id='cover'>
				<img src="http://farm8.static.flickr.com/7071/6856897428_aa2e662662_z.jpg">
			</div>

			<div id='story-lines'>
				<h2>New Title 5</h2>
			</div>
		<div>

		<footer>
			<p>&copy; <a href="mailto:amin1@andrew.cmu.edu">Allison Min</a></p>
		</footer>
	</body>

</html>