<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/javascripts/liststories.js"></script>
	</head>

	<body>
		<div id='decor'></div>
		<header>
			<a id='logotext' href='/'>tiny<strong>stories</strong></a>
		</header>
		<!-- end of header -->

		<div id='create-story'>
			<h2>WRITE A STORY</h2>
			<a href="/stories/new" class='button add-story'>Begin</a>
		</div>
		<!-- end of create-story -->

<!-- 		<div id='active-stories'>
			<h2>JOIN A STORY</h2>
			<span>What will your verse be?</span>
			<div id='gallery'>
				<ul>
				</ul>
			</div>
		</div> -->
		<!-- end of active-stories -->

		<div id='bookshelf'>
			<h2>BOOKSHELF</h2>
			<span>Read new stories.</span>
			<div id='gallery'>
				<ul>
					<li>
						<a href="/bookshelf"><img src="http://farm8.static.flickr.com/7071/6856897428_aa2e662662_q.jpg"></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of bookshelf -->

		<!-- <footer>
			<p>&copy; <a href="mailto:amin1@andrew.cmu.edu">Allison Min</a></p>
		</footer> -->

	</body>
</html>