<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	</head>

	<body>
		<div id='decor'></div>
		<header>
			<a id='logotext' href='/'>tiny<strong>stories</strong></a>
		</header>

		<div id='login-box'>
			<form>
				<h3>Please Login</h3>
				<input id='username' type='text' name='username' placeholder='username'><br>
				<input id='password' type='text' name='password' placeholder='password'><br>
				<input id='login-submit' type='submit' value='Login'>
			</form>
		</div>
	</body>
</html>