<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/clientSide.js"></script>
		<script src="/javascripts/flickr.js"></script>
		<script src="/javascripts/example.js"></script>
	</head>

	<body>
		<div id='decor'></div>
		<header>
			<a id='logotext' href='/'>tiny<strong>stories</strong></a>
		</header>
		<!-- end of header -->

		<div id='user'>
			<h2 id='username-title'></h2>
			<form id='username-form'>
				<input type='text' name='username' placeholder='marktwain'>
				<input type='submit' value='Submit'>
			</form>
		</div>

		<!-- <p> There are currently <span id="numPlayers">no</span> players.</p> -->
		<p id='welcome-user'></p>
		<p id='waiting' hidden>We're waiting for another player</p>
		
		<div id='flickr' hidden>
			<!-- Flickr Search Bar -->
			<div id='flickr-search'>
				<form id='flickr-form'>
					<label>Please Choose a Story Cover</label><br>
					<input id='search-term' type='text' name='search'>
					<input id='search-submit' type='submit' value='Search'>
				</form>
			</div>
			<!-- end of Flickr Search Bar -->

			<div id='gallery'>
				<ul>
				</ul>
			</div>
		</div>
		<!-- end of flickr -->

		<div id='newstory'>
			<div id='response'>
			</div>
			<div id='newstoryimage'>
			</div>
			<div id='storylines'>
			</div>
			<form id='addline'>
			</form>
		</div>

		<footer>
			<p>&copy; <a href="mailto:amin1@andrew.cmu.edu">Allison Min</a></p>
		</footer>

	</body>
</html>